* {
  text-align: center;
  box-sizing: border-box;
  background-color: #282c34;
  margin: 0;
  padding: 0;
}
/*Header Section*/
.header {
  color: #ffffff;
  padding: 0px;
}
.header-image{
  width: 100%;
  height: 600px;
  top: 0px;
  z-index: 1;
  filter: drop-shadow(0px 10px 4px rgba(164, 191, 250, 0.836));
}
.logo{
  position: relative;
  top: -80px;
  width: 400px;
  height: 120px;
  filter: drop-shadow(1px 1px 4px rgba(247, 118, 118, 0.836));
  z-index: 2;
}
/*Element listing section */
.row{
  padding-left: 25%;
  padding-right: 25%;
}
.container {
  display: inline-block;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 80px 30px;
  padding: 0 20px 0 20px;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.card {
  display: flex;
  align-items: center;
  width: 175px;
  height: 250px;
  border: 1px solid #ffffff;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.thumbnail :hover{
  filter: drop-shadow(0px 4px 5px rgba(247, 118, 118, 0.836));
}
.thumbnail {
  border-top: 1px solid #ffffff;
  padding-top: 10px;
  margin-top: -50px;
}
.card-title {
  height: 10px;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}
/*Pagination and Footer Section*/
.pagination-align{
  text-align: center;
}
.pagination {
  display: inline-block;
}
.pagination li {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  list-style: none;
}
.pagination li.active {
  background-color: rgba(164, 191, 250, 0.836);
  color: white;
  border-radius: 5px;
}
.pagination li:hover:not(.active) {
  background-color: rgba(247, 118, 118, 0.836);
  border-radius: 5px;
}
.footer {
  background-color: #e43d3d;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 150px;
  }
  .allCard {
    justify-content: space-around;
  }
  .logo {
    width: 200px;
  }
  .paginationBox {
    flex-direction: column;
    align-items: center;
    font-size: 11px;
  }
  .pagination {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  .container {
    margin-top: 150px;
  }
  .allCard {
    justify-content: space-around;
  }
  .logo {
    width: 250px;
  }
  .paginationBox {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .pagination {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

